
<div class="container">

    <h1>Bienvenue sur le le jeu Time Card</h1>

    <p id="description"> Ranger les cartes d'événements historiques dans l'ordre chronologique</p>

 <div id="game-mode-container">
    
        <div routerLink="/dates-bac" class="game-mode">
            
            <h3 > Partie avec des dates d'histoire du Bac</h3>
            <img src="assets/BacDeck.png" alt="">
        
        </div>

        <div routerLink="/" class="game-mode">
             
            <h3 routerLink="/fdfd"> Partie avec des dates de films</h3>
            (En dévelloppement)
            <img src="assets/DeckNeutral.png" alt="">
        
        </div>
 </div>

</div>
